<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      calcular
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">ingrese primer valor:</ion-label>
    <ion-input [(ngModel)]="valor1" placeholder="ingresa su primer valor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">ingrese operacion:</ion-label>
    <ion-input [(ngModel)]="operador" placeholder="ingresa la operacion que desea realizar"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">ingrese segundo valor:</ion-label>
    <ion-input [(ngModel)]="valor2" placeholder="ingresa su segundo valor"></ion-input>
  </ion-item>

  <ion-button  (click)="operar()">
    operar
    <ion-icon name="checkbox-outline"></ion-icon>
  </ion-button>


  <ion-item>
    <ion-label position="floating">Resultado:</ion-label>
    <ion-label>{{Resultado}}</ion-label>
  </ion-item>
  

  <ion-button  routerLink="/home">home </ion-icon></ion-button>


</ion-content>
